@import "tailwindcss";
@theme {
  --font-Inter: "Inter", sans-serif;
  --font-Raleway: "Raleway", sans-serif;
  --font-proxima: "proxima-nova", sans-serif;
  --color-white-white: #FFFFFF;
  --color-black-black: #000000;
  --color-dark-grya:#555555;
  --color-dark2-grya:#55555533;
  --color-dark3-grya:#5555551F;
  --color-dark4-grya:#55555580;
  --color-dark5-grya:#D9D9D9;

  --color-natural-orange:#EAA423;
  --color-Flash-White:#F0F0F0;
  --color-Flash-White2:#0000001A;
  --color-Flash-White3:#38356133;

  --color-natural-blue:#480CED;
  --color-secondery-blue:#6A39F2;
  --color-pramery-blue:

}
@layer utilities {
  .container {
    @apply max-w-[1360px] w-full px-5 m-auto;
  }
}
